.item-c ul{list-style-type:none;margin:0;padding:0;border-radius:5px;background-color:red}.item-c li{display:block;color:#000;text-decoration:none;color:black}.item-c li:hover{background-color:white}
