@import "../helpers/variables";

.header-a {
	grid-area: headerA;
}

.header-b {
	grid-area: headerB;
}

.main-a {
	grid-area: main;
}

.navbar-a {
	grid-area: sidebar;
}

.footer-a {
	grid-area: footer;
}

.container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: $col_size_1 $col_size_2 $col_size_3 $col_size_4;
	grid-template-rows: $row_size_1 $row_size_2 $row_size_3 $row_size_4;
	grid-template-areas: 
	". headerA headerA headerA"
	". headerB headerB headerB"
	"sidebar main main main"
	". footer footer footer";
}

