@import "../helpers/variables";

.header-total {
	grid-area: header;
}

.main-a {
	grid-area: main;
}

.navbar-a {
	grid-area: sidebar;
}

.footer-a {
	grid-area: footer;
}

.container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: $col_size_1 $col_size_2 $col_size_3 $col_size_4;
	grid-template-rows: $row_size_1 $row_size_2 $row_size_3;
	grid-template-areas: 
	". header header header"
	"sidebar main main main"
	". footer footer footer";
}

