@import "../helpers/variables";

@mixin hover-color($color){
	&:hover {
		background-color: $color;
	};
}

.navbar-a {
	ul {
		list-style-type: none;
		margin: $navbar_margin;
		padding: $navbar_padding;
		border-radius: $navbar_radius;
		background-color: $navbar_color;
	}

	li {
		display: block;
		color: #000;
		text-decoration: none;
		color: $navbar_color_text;
		@include hover-color($navbar_color_hover);
	}
}
